* text=auto !eol
/pom.xml -text
src/main/java/org/onehippo/forge/cmisreplication/CmisDocumentsReplicator.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/CmisDocumentsReplicatorSchedulerDaemonModule.java -text
src/main/java/org/onehippo/forge/cmisreplication/CmisReplicationTypes.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/CmisReplicatorRepositoryJob.java -text
src/main/java/org/onehippo/forge/cmisreplication/CmisRepoConfig.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/HippoRepoConfig.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/util/AssetMetadata.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/util/AssetUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/util/CmisDocumentBinary.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/cmisreplication/util/Codecs.java -text
src/main/resources/cmisreplication_2_0.cnd -text
src/main/resources/configuration/modules/cmisreplication-scheduler-default.xml -text
src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/main/resources/namespaces/cmisreplication.xml -text svneol=unset#text/plain
src/site/checkstyle.xml -text svneol=unset#text/plain
src/site/resources/images/1.01.xx/nuxscreen1.png -text
src/site/resources/images/1.01.xx/nuxscreen2.png -text
src/site/resources/images/1.01.xx/nuxscreen3.png -text
src/site/resources/images/1.01.xx/nuxscreen4.png -text
src/site/resources/images/1.01.xx/nuxscreen5.png -text
src/site/resources/images/1.02.xx/nuxscreen1.png -text
src/site/resources/images/1.02.xx/nuxscreen2.png -text
src/site/resources/images/1.02.xx/nuxscreen3.png -text
src/site/resources/images/1.02.xx/nuxscreen4.png -text
src/site/resources/images/1.02.xx/nuxscreen5.png -text
src/site/resources/images/1.04.xx/nuxscreen1.png -text
src/site/resources/images/1.04.xx/nuxscreen2.png -text
src/site/resources/images/1.04.xx/nuxscreen3.png -text
src/site/resources/images/1.04.xx/nuxscreen4.png -text
src/site/resources/images/1.04.xx/nuxscreen5.png -text
src/site/resources/images/cmisreplication-config.png -text
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/1.01.xx/demo-with-nuxeo-5.4.xml -text
src/site/xdoc/1.01.xx/index.xml -text
src/site/xdoc/1.01.xx/install.xml -text
src/site/xdoc/1.02.xx/demo-with-nuxeo-5.6.xml -text svneol=unset#text/plain
src/site/xdoc/1.02.xx/index.xml -text svneol=unset#text/plain
src/site/xdoc/1.02.xx/install.xml -text svneol=unset#text/plain
src/site/xdoc/build-from-source.xml -text svneol=unset#text/plain
src/site/xdoc/demo-with-nuxeo-6.0.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/cmisreplication/CmisTest.java -text svneol=unset#text/plain
